{% extends 'base.html.twig' %}
{% block stylesheets %}
     <link rel="stylesheet" href="/assets/css/lightbox.min.css">
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h1>Les dégustations de la Kaz'Mobile</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center" id="bandeau">
            <h2>Entrées</h2>
        </div>
    </div>
    <div class="row">
        {% include 'plat/list.html' with {plats: entrees} %}
    </div>
       

    {% if is_granted("ROLE_ADMIN") %}
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <button type"button" class="btn btn-warning"><a href="{{ path('plat_new') }}">Ajouter un plat</a></button>
        </div>
    </div>
    {% endif %}
    
    
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center" id="bandeau">
            <h2>Bokits et Plats du jour</h2>
        </div>
    </div>

    <div class="row">
        {% include 'plat/list.html' with {plats: plats} %}
    </div>
    
    {% if is_granted("ROLE_ADMIN") %}
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <button type"button" class="btn btn-warning"><a href="{{ path('plat_new') }}">Ajouter un plat</a></button>
        </div>
    </div>
    {% endif %}



    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center" id="bandeau">
            <h2>Desserts</h2>
        </div>
    </div>
    <div class="row">       
        {% include 'plat/list.html' with {plats: desserts} %}
    </div>
    
    {% if is_granted("ROLE_ADMIN") %}
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <button type"button" class="btn btn-warning"><a href="{{ path('plat_new') }}">Ajouter un plat</a></button>
        </div>
    </div>
    {% endif %}
   

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center" id="bandeau">
            <h2>Boissons</h2>
        </div>
    </div>

    <div class="row">   
        {% include 'plat/list.html' with {plats: boissons} %}
    </div>


    {% if is_granted("ROLE_ADMIN") %}
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <button type"button" class="btn btn-warning"><a href="{{ path('plat_new') }}">Ajouter une boisson </a></button>
        </div>
    </div>
    {% endif %}
      
{% endblock %}


{% block javascripts %}
    <script>
        
        var available = document.getElementsByClassName('1');
            for( i = 0; i < available.length ; i++){
                available[i].innerHTML = 'Ce produit n\'est pas disponible pour le moment';
                available[i].style.color = 'red';
  	        }

    </script>
    <script src="/assets/js//lightbox-plus-jquery.min.js"></script>
{% endblock %}
