{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h1>A propos de La Kaz' Mobile</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 row align-items-center justify-content-center">
            <img src="{{asset('images/photoprofil.jpg')}}" width="70%" alt="Jennifer Villeroy"/>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-6 row align-items-around">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-10 text-center">
                    <h2>Le 1er food-truck Caraïbéen débarque à Bordeaux</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10 col-sm-10 col-md-12 col-lg-10 text-justify">
                    <article>
                        Des recettes originales et 100% "fait-maison" pour le plaisir de tous, grâce à une sélection rigoureuse de producteurs le plus souvent locaux. Végétariens, vegans ou viandards , il y a un menu pour vous!
                        </br></br>
                        La Kaz' Mobile s'engage dans une démarche éco-responsable pour le respect de l'environnement en utilisant des emballages recyclés, compostables ou biodégradables.
                        </br></br>
                        Vous allez déguster quelques spécialités caraïbéennes aux saveurs colorées et métissées à vous en lécher les doigts.
                    </article>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
