{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <h1>A propos de La Kaz' Mobile</h1>
            </div>
        </div>

        <div class="row d-flex justify-content-space-between text-center">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <img src="{{asset('images/photoprofil.jpg')}}" width="100%" alt="Jennifer Villeroy"/>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 d-flex justify-content-center align-items-center">
                <article class="col-sm-6 col-md-6 col-lg-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </article>
            </div>
        </div>
    </div>
{% endblock %}
