{% extends 'base.html.twig' %}
{% block body %}

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Contact</h1>
        </div>
    </div>
    <div class="row text-center justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 row align-items-center justify-content-center">
            <img src="{{asset('images/signature-gmailok.png')}}" width="40%"/>
        </div> 


        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
            <form method="post">
                <div class="row justify-content-center">
                    <div class="form-group col-8 col-sm-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" placeholder="Prénom" name="firstname" required>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-8 col-sm-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" placeholder="Nom" name="lastname" required>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-8 col-sm-8 col-md-8 col-lg-8">
                        <input type="tel" class="form-control" placeholder="Numéro de téléphone" name="phone_number" required>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-8 col-sm-8 col-md-8 col-lg-8">
                        <input type="email" class="form-control" placeholder="Email" name="email" required>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-8 col-sm-8 col-md-8 col-lg-8">
                        <select class="custom-select mr-sm-2" name="entitled">
                            <option value="Demande">Demande</option>
                            <option value="Festival">Festival</option>
                            <option value="Mariage">Mariage</option>
                        </select>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-8 col-sm-8 col-md-8 col-lg-8">
                        <textarea class="form-control" rows="5" placeholder="Votre message" name="message" required></textarea>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 d-flex justify-content-center">
                        <div class="g-recaptcha" data-sitekey="6LdVZKcUAAAAAAJR8o6gqxvQutnEPkoFXqTa0uO3"></div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Envoyer</button>

            </form>
        </div>
    </div>

       
{% endblock %}
{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        {% if is_submit == false %}
            Swal.fire({
                type: 'success',
                title: 'Votre email a bien ete envoye',
                showConfirmButton: false,
                timer: 1500
            })
        {% endif %}
    </script>
{% endblock %}