{% extends 'base.html.twig' %}
{% block body %}

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h1>Contact</h1>
        </div>
    </div>
    <div class="row text-center justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 row align-items-center justify-content-center">
            <img src="{{asset('images/contact.jpg')}}" width="90%"/>
        </div> 


        <div class="col-12 col-sm-12 col-md-8 col-lg-6 mealspace">
            <div class="alert alert-success response-container" style="display:none;">
                formulaire envoyé
            </div>
            <form method="post" class="form-container mealspace">
                <div class="row justify-content-center">
                    <div class="form-group col-8 col-sm-8 col-md-8 col-lg-8">
                        <input id="firstname-input" type="text" class="form-control" placeholder="Prénom" name="firstname" required>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-8 col-sm-8 col-md-8 col-lg-8">
                        <input id="lastname-input" type="text" class="form-control" placeholder="Nom" name="lastname" required>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-8 col-sm-8 col-md-8 col-lg-8">
                        <input id="phone_number-input" type="tel" class="form-control" placeholder="Numéro de téléphone" name="phone_number" required>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-8 col-sm-8 col-md-8 col-lg-8">
                        <input id="email-input" type="email" class="form-control" placeholder="Email" name="email" required>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-8 col-sm-8 col-md-8 col-lg-8">
                        <select id="entitled-input" class="custom-select mr-sm-2" name="entitled">
                            <option value="Demande">Demande</option>
                            <option value="Festival">Festival</option>
                            <option value="Mariage">Mariage</option>
                        </select>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-8 col-sm-8 col-md-8 col-lg-8">
                        <textarea id="message-input" class="form-control" rows="5" placeholder="Votre message" name="message" required></textarea>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 d-flex justify-content-center">
                        <div class="g-recaptcha" data-sitekey="6LdVZKcUAAAAAAJR8o6gqxvQutnEPkoFXqTa0uO3"></div>
                    </div>
                </div>

                
                <button type="button" class="btn btn-primary" id="sending">Envoyer</button>

            </form>
        </div>
    </div>
    
       
{% endblock %}
{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
       
        $("#sending").click(function(ev){
            let firstname = $("#firstname-input").val();
            let lastname = $("#lastname-input").val();
            let email = $("#email-input").val();
            let phone_number = $("#phone_number-input").val();
            let entitled = $("#entitled-input").val();
            let message = $("#message-input").val();
            let captcha = grecaptcha.getResponse();

            const data = {
                firstname : firstname,
                lastname : lastname,
                email : email,
                phone_number : phone_number,
                entitled : entitled,
                message : message,
                captcha : captcha
            };
            $.ajax({
                url : "/contact/api",
                method: 'post',
                data: data
            }).then(function(data){
                if (data.response && data.response.validation == true && data.response.sent == 1) {
                    $(".form-container").slideUp();
                    $(".response-container").slideDown();
                }
            }).catch(function(error){
                // SI Y A UNE ERROR
                console.log(error);
            });
        });
    </script>
{% endblock %}