{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-10 col-sm-10">
            <h1>Mentions légales</h1>
        </div>
    </div>

    <div class="row justify-content-around">
        <div class="col-10 col-sm-10 col-md-10 col-lg-10">
            <h3>Le site internet vitrine de la Kaz' Mobile a été conçu et réalisé par :</h3></br>
            <article>
                Vincent Dias<br/>
                33800 Bordeaux<br/>
                06 29 46 88 29<br/>
                vincentdias.pro@gmail.com
            </article>
        </div>
    </div>  
    <br/>
    <div class="row justify-content-around">
        <div class="col-10 col-sm-10 col-md-10 col-lg-10">
            <article>Vous êtes actuellement connecté(e)s au site web officiel de la Kaz' Mobile, 
            food truck de spécialités créoles à Bordeaux.
            </article>
        </div>
    </div>

<br/>
<br/>

    <div class="row justify-content-around">
        <div class="col-10 col-sm-10 col-md-10 col-lg-10">
            <h3>Siège social :</h3><br/>
            <article>La Kaz' Mobile<br/>
                La Gérante : Mme Jennifer Villeroy<br/>
                RUE DU DOCTEUR ROGER ROMEFORT<br/>
                BATIMENT LES ROMARINS, RES PASCA<br/>
                33520 BRUGES<br/>
                Tél : 07 60 60 65 47<br/>
                contact.lakazmobile@gmail.com<br/>
                RCS : Bordeaux<br/>
                Capital : 1 000 €<br/>
                N° de SIRET : 842 938 243 00016<br/>
                N° de SIREN : 842 938 243<br/>
            </article>
        </div>
    </div>
    <br/>
    <div class="row justify-content-around">
        <div class="col-10 col-sm-10 col-md-10 col-lg-10">
            <article>
                Pour toute remarque sur le fonctionnement du site, écrivez à l’administrateur et responsable du site :
                vincentdias.pro@gmail.com
            </article>
        </div>
    </div>

    <br/>
    <br/>

    <div class="row justify-content-around">
        <div class="col-10 col-sm10 col-md-10 col-lg-10 text-justify">
            <h3>Droits d’auteur:</h3><br/>
            <article>
                L’ensemble de ce site relève de la législation française et internationale sur le droit 
                d’auteur et la propriété intellectuelle.
                Tous les droits de reproduction sont réservés, les représentations 
                iconographiques et photographiques également. La reproduction de 
                tout ou partie de ce site sur un support électronique quel qu’il soit 
                est formellement interdite sauf autorisation expresse du directeur de la publication.
                Les articles L122-4 et L122-5 du Code de la propriété intellectuelle interdisent
                toute représentation ou reproduction, intégrale ou partielle, faites en dehors d’un usage privée.
                Toute représentation ou reproduction intégrale ou partielle de cette œuvre, fait 
                par quelque procédé que ce soit, sans le consentement de l’éditeur ou les ayants 
                droit est illicite et constitue une contrefaçon sanctionné par les articles 
                L335-2 et suivants du Code de la propriété intellectuelle.
            </article>
    <br/>
    <br/>
            <h3>CNIL: Accès aux données personnelles</h3>
        
            <article><br/>
                Vous disposez d’un droit d’accès, de modification, de rectification et de 
                suppression des données qui vous concernent (art.34 de la loi 
                « Informatique et Libertés » n° 78-17 du 16 janvier 1978). 
                Pour l’exercer, adressez vous à :<br/>
                La Kaz' Mobile<br/>
                La Gérante : Mme Jennifer Villeroy<br/>
                RUE DU DOCTEUR ROGER ROMEFORT<br/>
                BATIMENT LES ROMARINS, RES PASCA<br/>
                33520 BRUGES<br/>
                Tél : 07 60 60 65 47<br/>
                contact.lakazmobile@gmail.com<br/>
            </article>
            <br/>
            <br/>
            <article>
                <b><u>IMPORTANT</u></b>
                <br/>
                Les messages que vous nous ferez parvenir par l’intermédiaire d’Internet 
                peuvent être interceptés sur le réseau. Jusqu’à ce qu’ils nous parviennent, 
                leur confidentialité ne peut être garantie. Assurez-vous de ne pas divulguer 
                d’informations personnelles inutiles ou sensibles.
                De plus, l’indication de la provenance des messages électroniques 
                que nous recevons peut être falsifiée. Par conséquent, si vous souhaitez 
                nous communiquer de telles informations, utilisez impérativement la voie postale.
            <br/>
            <br/>
                <b><u>EN CONSÉQUENCE</u></b>
                <br/>
                Aucune plainte, déclaration ou demande de conseil transmise par message Internet ne sera prise en compte.
                Veuillez formuler vos demandes exclusivement par voie postale. 
                Pour obtenir plus de renseignements sur les procédures à suivre ou sur des 
                dossiers en cours d’instruction, veuillez prendre contact avec la Kaz' Mobile par écrit.
            </article>
        </div>
    </div>

{% endblock %}