.body{
    font-family: 'Muli', sans-serif;
}

.navbar{
    background-color: white;
    padding: 1.5em; 
    font-family: 'Muli', sans-serif; 
}

.nav-link{
    color: #05A099 !important;
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}
}

.main_container{
    height: 545px;
    padding-top: 50px;
}

h1{
    text-align: center !important;
    padding:2em;
    color:#05A099;
}

h2{
    color: #F76305;
    font-family: 'Muli', sans-serif;
    margin-bottom: 20px; 
}
h3{
    color:#05A099;
    font-family: 'Muli', sans-serif; 
}

.btn, .btn:hover{ 
    margin:2em;
    border-color: #05A099;
    color: #05A099;
    background-color: white;
}

#article{
    border: 1px solid #05A099 !important;
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer{
    font-family: 'Muli', sans-serif; 
    width:100%;
    background-color:#05A099;
    height: 100px;
    margin-top: 50px;
}

span{
    color: #2E373A;
}

a, a:hover{
    color: #05A099;
}

/*
Origine des produits
*/

article{
    color:#2E373A;
    font-family: 'Muli', sans-serif; 
}

/*
Nos menus
*/


/* 
Connexion
*/
#connexion{
    height: 700px;
    align-items: center;
}

#mentionlegales{
    color: #2E373A;
}
